<!DOCTYPE html>
<html>


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Account-Einstellungen</title>
    <link rel="stylesheet" href="css/bewertung.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/templates/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Planning Poker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto">

            </div>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        timonmw@gmail.com
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Log out</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="col-*-*">
            <div class="row top-buffer"></div>
        </div>
        <div class="col-*-*">
            <div class="row top-buffer"></div>
        </div>
        <div class="text-center">
            <h1>Account-Einstellungen</h1>
        </div>
        <div class="col-*-*">
            <div class="row top-buffer"></div>
        </div>
        <div class="col-*-*">
            <div class="row top-buffer"></div>
        </div>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>Benutzername: </h4>
                            </div>
                            <div class="col-sm-auto">
                                <h4>Entwickler-Test</h4>
                            </div>
                            <div class="col-sm-auto">
                                <button type="button" class="btn btn-primary">Benutzername anpassen</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>E-Mail:</h4>
                            </div>
                            <div class="col-sm-auto">
                                <h4>test@test.de</h4>
                            </div>
                            <div class="col-sm-auto">
                                <button type="button" class="btn btn-primary">E-Mail anpassen</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>Passwort:</h4>
                            </div>
                            <div class="col-sm-auto">
                                <h4>**********</h4>
                            </div>
                            <div class="col-sm-auto">
                                <button type="button" class="btn btn-primary">Passwort ändern</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-*-*">
                        <div class="row top-buffer"></div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>Vorname:</h4>
                            </div>
                            <div class="col-sm-auto">
                                <h4>Marco</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>Nachname:</h4>
                            </div>
                            <div class="col-sm-auto">
                                <h4>Hans</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>Position:</h4>
                            </div>
                            <div class="col-sm-auto">
                                <h4>C++ Entwickler (Senior)</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>Erfahrung:</h4>
                            </div>
                            <div class="col-sm-auto">
                                <h4>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Erfahren</button>
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Anfänger</a>
                                            <a class="dropdown-item" href="#">Erfahren</a>
                                            <a class="dropdown-item" href="#">Experte</a>
                                        </div>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
                <div class="col-12">
                        <div class="text-center">
                            <a href="#" class="btn btn-lg btn-success"><i class="fa fa-save" style="font-size:36px"></i>
                                Speichern</a>
                            <a href="#" class="btn btn-lg btn-danger"><i class="fa fa-times" style="font-size:36px"></i>
                                Abbrechen</a>
                        </div>
                    </div>
        </div>

    </div>

    <script src="js/jquery/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

</body>

</html>