<!DOCTYPE html>
<html>


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Neues Spiel erstellen</title>
    <h1 class="text-hide" style="background-image: url('/images/karte.png); width: 50px; height: 50px;">Bootstrap</h1>
    <link rel="stylesheet" href="css/bewertung.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Planning Poker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto">

            </div>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        timonmw@gmail.com
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Log out</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="col-*-*">
            <div class="row top-buffer"></div>
        </div>
        <div class="col-*-*">
            <div class="row top-buffer"></div>
        </div>
        <div class="text-center">
            <h1>Neues Spiel erstellen</h1>
        </div>
        <div class="col-*-*">
            <div class="row top-buffer"></div>
        </div>
        <div class="col-*-*">
            <div class="row top-buffer"></div>
        </div>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>Titel: </h4>
                            </div>
                            <div class="col-sm-auto">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="titelNewGame" aria-describedby="emailHelp"
                                        placeholder="Titel eingeben">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>Teilnehmer:</h4>
                            </div>
                            <div class="col-sm-auto">
                                <ul class="list-group">
                                    <li class="list-group-item">Marco</li>
                                    <li class="list-group-item">Timon</li>
                                    <li class="list-group-item">Maxi Hans Tests </li>
                                    <li class="list-group-item">Hans Peter Hans</li>
                                </ul>
                                <button>Teilnehmer hinzufügen</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-auto">
                            </br>
                            </div>
                            <div class="col-sm-auto">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-auto">
                                <h4>User-Story: </h4>
                            </div>
                            <div class="col-sm-auto">
                                    <ul class="list-group">
                                            <li class="list-group-item">User-Story 1</li>
                                            <li class="list-group-item">User-Story 2</li>
                                            <li class="list-group-item">User-Story 3</li>
                                            <li class="list-group-item">User-Story 4</li>
                                        </ul>
                                        <button>User-Story hinzufügen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    </div>
    <script src="js/jquery/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

</body>

</html>